@import "../colors.css";

/* =========================================================
   CONFIGURAÇÕES GERAIS
========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* =========================================================
   BOTÃO MODO ESCURO
========================================================= */

button.modo-escuro {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  text-align: left;
  appearance: none;
  -webkit-appearance: none;
}

/* =========================================================
   TRANSIÇÃO ENTRE TEMAS
========================================================= */

body {
  background:
  linear-gradient(
    135deg,
    var(--cor-texto),
    var(--cor-15),
    var(--cor-texto)
  );

  color: var(--cor-elemento);

  position: relative;
  min-height: 100vh;

  opacity: 0;
  transition: opacity 0.5s ease;
}

body.entrando {
  opacity: 1;
}

body.saindo {
  opacity: 0;
}

/* =========================================================
   LARGURA DA PÁGINA
========================================================= */

#page {
  max-width: 1300px;
  margin-inline: auto;
}

/* =========================================================
   ANIMAÇÕES
========================================================= */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================================
   IMAGENS
========================================================= */

img {
  max-width: 100%;
  display: block;
}

/* =========================================================
   MENU
========================================================= */

.menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 4.6875rem;
  height: 100vh;

  text-decoration: none;

  background: var(--cor-13);

  display: flex;
  flex-direction: column;

  padding: 1.25rem 0.9375rem;

  overflow: hidden;
  transition: .35s ease;

  border-radius: 0 1.25rem 1.25rem 0;

  z-index: 999;
}

.menu:hover {
  width: 16.25rem;
}

/* =========================================================
   LOGO
========================================================= */

.logo {
  display: flex;
  align-items: center;

  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}

.logo img {
  width: 2.5rem;
}

.logo span {
  font-size: 2rem;
  font-weight: 700;

  white-space: nowrap;

  opacity: 0;
  transition: .3s;
}

.menu:hover .logo span {
  opacity: 1;
}

/* =========================================================
   PESQUISA
========================================================= */

.pesquisa {
  display: flex;
  align-items: center;

  gap: 0.9375rem;

  background: rgba(161, 220, 230, 0.70);

  border-radius: 0.625rem;

  padding: 0.75rem;
  margin-bottom: 1.5625rem;
}

.pesquisa img {
  width: 1.625rem;
}

.pesquisa span {
  white-space: nowrap;

  opacity: 0;
  transition: .3s;
}

.menu:hover .pesquisa span {
  opacity: 1;
}

/* =========================================================
   ITENS DO MENU
========================================================= */

.item-menu {
  display: flex;
  align-items: center;

  gap: 1.125rem;

  width: 100%;

  padding: 0.75rem;
  margin-bottom: 0.5rem;

  border-radius: 0.625rem;

  cursor: pointer;
  transition: .3s ease;

  text-decoration: none;

  color: var(--cor-texto);
}

.item-menu:hover {
  color: rgba(161, 220, 230, 0.70);
}

.item-menu img {
  width: 2rem;
  height: 1.75rem;

  object-fit: contain;
  flex-shrink: 0;
}

.item-menu span {
  white-space: nowrap;

  opacity: 0;
  transition: .3s ease;

  font-size: 1rem;
  font-weight: 500;

  color: var(--cor-01);
}

.menu:hover .item-menu span {
  opacity: 1;
}

.menu:hover .item-menu {
  opacity: 1;
}

/* =========================================================
   USUÁRIO
========================================================= */

.usuario {
  margin-top: auto;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  gap: 0.9375rem;

  background: rgba(161, 220, 230, 0.70);

  padding: 0.75rem;

  border-radius: 0.625rem;
}

.usuario img {
  width: 2.1875rem;
}

.dados-usuario {
  opacity: 0;
  transition: .3s;
  white-space: nowrap;
}

.menu:hover .dados-usuario {
  opacity: 1;
}

.dados-usuario h4 {
  font-size: .9rem;
  margin: 0;
}

.dados-usuario p {
  font-size: 0.7rem;
  font-weight: 400;

  color: var(--cor-01);

  opacity: 0.6;

  margin: 0.25rem 0 0 0;

  width: auto;
  height: auto;
}

/* =========================================================
   INÍCIO DO CSS EQUIPE
========================================================= */

/* ---------- TÍTULO ---------- */

.titulo {
  width: 788px;
  height: 59px;

  aspect-ratio: 788/59;
}

.titulo,
h1 {
  color: var(--cor-01);

  font-family: Montserrat;

  font-size: 48px;

  font-style: normal;

  font-weight: 700;

  line-height: normal;

  margin-left: 66px;
  margin-top: 240px;
}

/* ---------- DESCRIÇÃO DO TÍTULO ---------- */

#descricao {
  width: 680px;

  margin-top: 10px;

  color: var(--cor-01);

  font-family: Montserrat;

  font-size: 16px;

  font-style: normal;

  font-weight: 450;

  line-height: normal;

  margin-left: 130px;
}

p {
  color: var(--cor-01);

  font-family: Montserrat;

  font-size: 16px;

  font-style: normal;

  font-weight: 400;

  line-height: normal;

  margin-left: 130px;
}

/* =========================================================
   IMAGENS DA EQUIPE
========================================================= */

.linha-meninas {
  display: flex;

  gap: 100px;

  margin-top: 119px;
}

.info-card p,
.info-card h4 {
  color: var(--cor-14);

  padding-left: 15px;
}

.info-card h4 {
  font-weight: 600;
}

.card {
  width: 300px;
}

.card img {
  width: 300px;

  display: block;

  border-radius: 20px 20px 0 0;
}

.info-card {
  width: 300px;

  background: var(--cor-fundo-3);

  border-radius: 0 0 20px 20px;

  padding: 15px 0;
}

.info-card p,
.info-card h4 {
  margin: 0;

  background: none;
}

.info-card p {
  font-size: 12px;
}

#geo {
  margin-left: 185px;
}

#lia {
  margin-right: 130px;
}

#guilherme {
  margin-left: 361px;
}

#enzo {
  margin-right: 283px;
}

.linha-meninos {
  display: flex;

  gap: 120px;

  margin-top: 150px;
}

.card {
  width: 300px;
  height: 350px;
}

/* =========================================================
   CONTATE-NOS
========================================================= */

.informacao {
  display: flex;

  flex-direction: column;

  align-items: flex-start;
}

h2 {
  color: var(--cor-fundo-3);

  font-family: Montserrat;

  font-size: 60px;

  font-style: normal;

  font-weight: 100;

  line-height: normal;

  margin-top: 100px;
}

.informacao label {
  display: block;

  margin-top: 15px;
}

textarea {
  height: 40px;
}

.informacao input,
.informacao textarea {
  display: block;

  width: 946px;

  margin-bottom: 15px;

  background: transparent;

  border: none;

  border-bottom: 1px solid var(--cor-02);

  outline: none;

  color: var(--cor-fundo-3);

  padding: 8px 0;

  margin-top: 8px;

  margin-bottom: 20px;
}

.contate-nos {
  margin-left: 230px;

  margin-top: 200px;
}

/* =========================================================
   BOTÃO
========================================================= */

button {
  width: 232px;
  height: 61px;

  background: var(--cor-fundo-3);

  border: none;

  color: var(--cor-14);

  font-family: Montserrat;

  font-size: 20px;

  font-style: normal;

  font-weight: 550;

  line-height: normal;

  margin-top: 40px;
}

/* =========================================================
   INFORMAÇÕES
========================================================= */

h3 {
  color: var(--cor-texto);

  font-family: Montserrat;

  font-size: 32px;

  font-style: normal;

  font-weight: 500;

  line-height: normal;

  margin-left: 230px;

  padding-top: 30px;
}

.info {
  background: var(--cor-fundo-3);

  width: 100%;

  height: 200px;

  margin-top: 150px;

  margin-bottom: 300px;
}

.item-info {
  display: flex;

  align-items: center;

  gap: 15px;

  margin-left: 350px;

  margin-top: 20px;

  color: var(--cor-14);

  padding-top: 30px;
}

.item-info i:not(:first-child) {
  margin-left: 50px;
}

.item-info p {
  margin: 0;

  color: var(--cor-14);

  font-family: Montserrat;

  font-size: 20px;

  font-style: normal;

  font-weight: 400;

  line-height: normal;
}